@import "tailwindcss";

body {
  @apply bg-gray-900 text-gray-100;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
